numpy==1.23.5
psutil==5.9.6
msgpack>=1.0.0
pyaudio
opencv-contrib-python==4.7.0.72
PyQt5==5.15.9
PyQt5-sip==12.17.0
torch==1.12.1+cu113
torchvision==0.13.1+cu113
torchaudio==0.12.1
torchmetrics==0.11.4
pillow>=8.0.0
scikit-learn==1.2.2 --only-binary :all:
pywin32
matplotlib
pytorch_lightning
dominate
msgpack-rpc-python
pymoo==0.4.2.2